@font-face {
    font-family: "medodica";
    src: url("medodica.otf");
}

body {
    font-family: "medodica";
    color: white;
    background-color: #202020;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.page {
    margin: 0 15%;
    background-color: #909090;
    border-radius: 5%;
}

img {
    width: 200px;
    height: 100px;
    background-size: contain;
    margin: 0;
}

form {
    align-items: center;
}

button {
    margin: 5%;
    font-family: "medodica";
    background-color: #b7b7b7;
    cursor: pointer;
    box-shadow: 
        0 6px 0 0 #7e7e7e,
        0 12px 0 0 #7e7e7e;
    transition: all 0.2s;
}

button:hover {
    background-color: #45a049;
    transform: translateY(2px);
    box-shadow: 
        0 3px 0 0 #7e7e7e,
        0 6px 0 0 #7e7e7e;
}

button:active {
    transform: translateY(6px);
    box-shadow: 
        0 2px 0 0 #7e7e7e;
}

input {
    margin: 5%;
    background-color: #b7b7b7;
    box-shadow: 
        0 6px 0 0 #7e7e7e,
        0 12px 0 0 #7e7e7e;
    transition: all 0.2s;
}

input:focus {
    outline: none;
    transform: translateY(2px);
    box-shadow: 
        0 3px 0 0 #7e7e7e,
        0 6px 0 0 #7e7e7e;
}
